////////////////////////////////
//        Variables.
////////////////////////////////
$font-family: (Arial, Helvetica Neue, Helvetica, sans-serif);
$font-size: 19px;
$line-height: 1.42857;
$color-primary: #fff;
$color-secondary: #e0e0e0;
$color-link: #0999ff;
$color-text: #333;
$theme-path: "..";
